.food-list{
    margin:0px auto;
    list-style: none;
    padding: 16px;
    background-color: white;
    border-radius: 0.8rem;
    background: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

