
.linkUl{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;

}
a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
}
nav{
    background-color: var(--primary-color);
    padding: 20px 10%;
}