.list{
    display: flex !important;
    width: 100%;

    justify-content: space-evenly;
}
.nav{
    width: 100%;
    
}
.logBtn{
    justify-self: flex-end;
    align-self: flex-end;
}
.main{
    padding: 0 5%;
    background-color:  #ff683a;
}

a:active{
    color: red !important;
}
