.outer{
    margin: 100px auto;
    width: 40%;
    background-color: rgba(204, 204, 204, 0.493);
    padding:20px;
    border-radius: 10px;
}
.outer h1{
    text-align: center;
}
.outer form{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0px auto;
    margin-top: 20px;
}
.addInput,textarea{
    width: 100%;
    background-color: #f3f3f4;
    outline: none;
    border: none;
    height: 35px;
    border-radius: 5px;
    padding: 5px;
    transition: 200ms;
}
.outer form button{
    width: 100px;
    margin-top: 20px;
}
.txtArea{
    width: 80%;
}