.imageSecton{
    width: 100%;
} 
.imageSecton img{
    width: 100%;
}
.menu{
    background-color: #ff683a;
    width: 90%;
    margin: 0px auto;
    border-radius: 15px;
    padding: 20px 3%;
    box-shadow: 0px 2px 8px rgba(246, 243, 243, 0.26);
}
.heading{
    color: white;
    font-style: italic;
}